[envs.lint]
detached = true
python = "3.14"
dependencies = [
    "click==8.1.7",
    "cython-lint==0.15.0",
    "bandit==1.7.5",
    "mypy==1.19.1",
    "coverage==7.13.2",
    "types-docutils==0.19.1.1",
    "types-protobuf==3.20.4.5",
    "types-PyYAML==6.0.12.2",
    "types-setuptools==65.6.0.0",
    "ddapm-test-agent>=1.2.0",
    "packaging==26.0",
    "pygments==2.16.1",
    "ruff==0.14.14",
]

[envs.lint.scripts]
style = [
    "ruff check {args:.}",
    "cython-lint {args:.}",
]
fmt = [
    "ruff check --fix {args:.}",
    "style",
]
# checks should encapsulate all rules used in pre-check
checks = [
    "style",
    "typing",
    "security",
    "test",
]
typing = [
    "mypy {args}",
]
security = [
    "bandit -c pyproject.toml {args:-r ddtrace/}",
]
fmt-snapshots = [
    "ddapm-test-agent-fmt {args:tests/snapshots/}",
]

## Unit Tests

[envs.unit_tests]
dependencies = [
    "ddtrace",
    "opentelemetry-api>=1",
    "protobuf>=3",
    "typing_extensions",
    "xmltodict>=0.12",
    "wrapt>=1",
    "pytest==8.3.4",
    "pytest-cov",
    "requests",
    "hypothesis",
]

[envs.unit_tests.env-vars]
DD_IAST_ENABLED = "true"
CMAKE_BUILD_PARALLEL_LEVEL="6"
DD_SERVICE = "flask-realworld-example-app-tests"
DD_ENV = "test"
DD_API_KEY = ""

[envs.unit_tests.scripts]
test = [
    "python -m pip install -r requirements/dev.txt",
    "pip freeze",
    "python -m pytest -s --ddtrace --ddtrace-patch-all --no-cov",
]
cov = [
    "pytest --cov=conduit --cov-report=xml --cov-report=html --cov-report=term -vvv tests/",
]

[[envs.unit_tests.matrix]]
python = ["3.14", "3.13", "3.12", "3.11", "3.10", "3.9"]
