name: Check-Format

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        # Include all history and tags
        with:
          fetch-depth: 0

      - name: Install hatch
        uses: pypa/hatch@install
        with:
          version: "1.16.3"

      - name: Check Format
        run: hatch run lint:fmt