name: Unit-Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '00 04 * * 2-6'

jobs:
  unit-tests:
    name: Test (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.12", "3.14"]

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Install hatch
        uses: pypa/hatch@install
        with:
          version: "1.16.3"

      - name: Run tests
        run: hatch run -vvvv +py=${{ matrix.python-version }} unit_tests:test
